<h1>Sign Up</h1>

<%= form_for @user do |f|%>
    <div class="mb-3">   
        <%= f.label :full_name, class: 'form-label' %><br>
        <%= f.text_field :full_name, class: 'form-control' %><br>
    </div>
    <div class="mb-3">   
        <%= f.label :username, class: 'form-label' %><br>
        <%= f.text_field :username, class: 'form-control' %><br>
    </div>
    <div class="mb-3">   
        <%= f.label :password, class: 'form-label' %><br>
        <%= f.password_field :password, class: 'form-control' %><br>
    </div>
    <div class="mb-3">   
        <% if is_admin? %>
            <%= f.label :role, class: 'form-label' %><br>
            <%= f.select(:role, ["user", "admin"], {}, {class: 'form-select'}) %><br>
        <% else %>
            <%= f.hidden_field :role, value: "user" %><br>
        <% end %>
    </div>
  
  <%= f.submit "Sign up", class: "btn btn-primary" %>
<%end%>

<br>

<%= button_to "login", '/login', method: :get, class: "btn btn-dark" %>
